{%  extends 'simple.html.twig' %}
{% block title 'Idologis | Connexion' %}
 {% block body %}
  <div class="container mt-5">
      <h2 class="text-center mb-3">Connexion</h2>
      <div class="row">
          <div class="col-md-4 offset-md-4">
              {% if error %}
                  <div class="alert alert-danger mb-3 text-center">
                      {{ error.messageKey | trans(error.messageData, 'security') }}
                  </div>
              {% endif %}
          </div>
      </div>
   <div class="row">
    <div class="col-md-4 offset-md-4 jumbotron">
     <form action="{{ path('login') }}" method="post">

       <div class="form-group">
        <lable for="username">Nom d'utilisateur: </lable>
        <input type="text" id="username" placeholder="Entrez votre nom d'utilisateur" name="_username" class="form-control" value="{{ last_username }}">
       </div>

      <div class="form-group">
       <lable for="password">Mot de passe: </lable>
       <input type="password" id="password" placeholder="Entrez votre mot de passe" name="_password" class="form-control">
      </div>
       <button type="submit" class="btn btn-primary">Se connecter</button>
     </form>
        <div class="col-md-12">
            <small><a href="{{ path('home') }}" class="float-right text-right"><i class="fas fa-undo 2x"></i> Retour à l'accueil</a></small>
        </div>
    </div>
   </div>
  </div>
 {% endblock %}