<!-- Footer Section Begin -->
<footer class="footer-section set-bg" data-setbg="/images/footer-bg.jpg">
    <div class="container">
        <div class="footer-text">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-logo">
                        <div class="logo">
                            <a href="{{ path('home') }}"><img src="/images/logo1.png" alt="Logo" style="width:70px; height: 70px; margin-top: -15px"></a>
                        </div>
                        <p>Abonnez-vous à notre newsletter pour être informé des nouvelles mises à jour.</p>
                        <form action="#" class="newslatter-form">
                            <input type="text" placeholder="Entrer votre Email...">
                            <button type="submit"><i class="fa fa-location-arrow"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1">
                    <div class="footer-widget">
                        <h4>Ville de  nos biens</h4>
                        <ul>
                            <li><i class="fa fa-caret-right"></i> <a href="#">Lille</a></li>
                            <li><i class="fa fa-caret-right"></i> <a href="#">Roubaix</a></li>
                            <li><i class="fa fa-caret-right"></i> <a href="#">Tourcoing</a></li>
                            <li><i class="fa fa-caret-right"></i> <a href="#">La Madeleine</a></li>
                        </ul>
                        <ul>
                            <li><i class="fa fa-caret-right"></i> <a href="#">Lambersart</a></li>
                            <li><i class="fa fa-caret-right"></i> <a href="#">Ronchin</a></li>
                            <li><i class="fa fa-caret-right"></i> <a href="#">Vileneuve-d'Ascq</a></li>
                            <li><i class="fa fa-caret-right"></i> <a href="#">Lomme</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="footer-widget">
                        <h4>Nos réseaux sociaux</h4>
                        <ul class="social">
                            <li><i class="ti-facebook"></i> <a href="#">Facebook</a></li>
                            <li><i class="ti-instagram"></i> <a href="#">Instagram</a></li>
                            <li><i class="ti-twitter-alt"></i> <a href="#">Twitter</a></li>
                            <li><i class="ti-google"></i> <a href="#">Google+</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer-widget">
                        <h4>Nous contacter</h4>
                        <ul class="contact-option">
                            <li><i class="fa fa-map-marker"></i> 1 Place de la République <span>59000 Lille Cedex</span></li>
                            <li><i class="fa fa-phone"></i> 03 28 39 34 551</li>
                            <li><i class="fa fa-envelope"></i> contact@idologis.fr</li>
                            <li><i class="fa fa-clock-o"></i> Lundi - Samedi, 08h30 - 18h30 </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-text">
            <p>
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> Tous droits réservés | Idologis
            </p>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="{{ asset('build/app.js') }}"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>
</body>

</html>