{%  extends 'base.html.twig' %}
{% block title 'Idologis | home' %}
 {% block body %}
<div class="container">
 <div class="jumbotron text-center">
  <h1>PROJET IMMOBILIER, PROJET DE VIE</h1>
  <h3>BIENVENUE SUR NOTRE PLATEFORME</h3>
 </div>
</div>

 {% endblock %}