{%  extends 'base.html.twig' %}
{% block title 'Idologis | Gestion des biens' %}
 {% block body %}
     <div class="container mt-4">
         <h1>Gérer les biens</h1>

         <tab class="table-striped">
             <thead>
                <tr>
                    <th>Nom</th>
                    <th>Action</th>
                </tr>
             </thead>
             <tbody>
             {% for property in properties %}
                <tr>
                    <td>{{ property.name }}</td>
                    <td>
                        <a href="{{ path('admin.property.edit', {id: property.id }) }}" class="btn btn-secondary">Editer</a>
                    </td>
                </tr>
             {% endfor %}
             </tbody>
         </tab>
         <div class="text-right">
             <a href="{{ path('admin.property.new') }}" class="btn btn-primary">Créer un nouveau bien</a>
         </div>
     </div>

 {% endblock %}