{% extends 'adminBase.html.twig' %}
{% block title 'Idologis | admin : Nouveau bien' %}

{% block body %}
    <div class="container mt-4">
        <div class="jumbotron">
            <h2 class="text-center">Ajouter un bien</h2>
        </div>
        {{  include('admin/property/_form.html.twig', {button: 'Créer'}) }}
    </div>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/css/select2.min.css">
{%  endblock %}
