{%  extends 'base.html.twig' %}
{% block title 'Idologis | Tous nos bien' %}
 {% block body %}
     <div class="container">
         <div class="jumbotron text-center">
            <h3>Voir tous nos bien</h3>
         </div>
     </div>

 {% endblock %}