<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <!-- Style -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/css/select2.min.css">
        <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
        <link rel="stylesheet" href="/css/themify-icons.css" type="text/css">
        <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
        <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
        <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
        <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
        <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
        <link rel="stylesheet" href="/css/style.css" type="text/css">
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {% include('partials/_nav.html.twig') %}

    {% block body %}{% endblock %}

    {% include 'partials/_footer.html.twig' %}
    {% block javascripts %}{% endblock %}
    </body>
</html>
