{% extends 'adminBase.html.twig' %}
{% block title 'Idologis | admin : Nouveau bien' %}

{% block body %}
    <div class="container mt-4">
        <div class="jumbotron">
            <h2 class="text-center">Ajouter une option</h2>
        </div>
        {{  include('admin/option/_form.html.twig', {button: 'Créer'}) }}
    </div>
{% endblock %}